<div id="<%= dom_id article %>">
  <p>
    <strong>Es title:</strong>
    <%= article.es_title %>
  </p>

  <p>
    <strong>En title:</strong>
    <%= article.en_title %>
  </p>

  <p>
    <strong>Es body:</strong>
    <%= article.es_body %>
  </p>

  <p>
    <strong>En body:</strong>
    <%= article.en_body %>
  </p>

</div>
